<h1><%= @activity.name %></h1>

<div>
    <%= link_to("Edit",edit_activity_path(@activity)) %>
    <%= link_to("Delete",activity_path(@activity), method: "delete") %>
</div>

<ul>
    <li>
        <div><%=image_tag(@activity.image_url) %></div>
        <div>More info: <%= link_to(@activity.link) %></div>
        <div>Note: <%= @activity.note %></div>
        <div>Date Completed: <%= @activity.date_completed %></div>
        <div>Neighborhood: <%= @activity.neighborhood %></div>
        <div>Rating(1-5): <%= @activity.rating %></div>
        <div>Done by: <%= link_to(@user.name, user_path(@user)) %></div>
    </li>
</ul>

<!-- Comment Form -->
<%= form_for @comment, url:activity_comments_path(@activity) do |f| %>
    <%= f.text_area :body, placeholder: "Comment on this..." %>
    <%= f.select :user_id,  User.all.collect {|u| [ u.name, u.id ] }%>
    <%=f.submit %>
<% end %>
<!-- -->

<!-- List comments for this Activity -->
<ul>
<% @activity.comments.each do |c| %>
    <li><%= c.body %></li>
    <div>
    <%= link_to("Edit",edit_activity_comment_path(c)) %>
    <%= link_to("Delete",activity_comment_path(c) , method: "delete") %>
    </div>
</div>
<% end %>
</ul>
